<%= link_to("<< Back", {:controller => 'users', :action => 'index'}, :class => 'back-link btn btn-default') %>

<br />

<section id="edit-invoice">

	<h3>Edit Invoice</h3>

	<%= form_for(@invoice, :url => {:controller => 'invoices', :action => 'update', :id => @invoice.id}, :method => :PATCH) do |t| %>
		
		<table class="table table-bordered table-condensed table-striped">
			<tr>
				<th>Invoice #</th>
				<td><%= t.text_field(:invoice_number) %></td>
			</tr>
			<tr>
				<th>Client</th>
				<td><%= t.collection_select(:client_id, Client.all, :id, :name) %></td>
			</tr>
			<tr>
				<th>Amount</th>
				<td><%= t.text_field(:amount) %></td>
			</tr>
			<tr>
				<th>Status</th>
				<td><%= t.select :status, [['Draft', 'draft'], ['Sent', 'sent'], ['Paid', 'paid']] %></td>
			</tr>
		</table>

		<h3>Items</h3>

		<table class="table table-bordered table-condensed table-striped">
			<tr>
				<th>Description</th>
				<th>Quantity</th>
				<th>Unit Cost</th>
				<th>Discount</th>
				<th>Actions</th>
			</tr>
			<%= t.fields_for :items do |item| %>
			<tr>
				<td><%= item.text_field :description %></td>
				<td><%= item.text_field :quantity %></td>
				<td><%= item.text_field :unit_cost %></td>
				<td><%= item.text_field :discount %></td>
				<td>
					<%= item.hidden_field :invoice_id %>
					<% if item.object.persisted? %>
						<%= item.check_box :_destroy %>
						<%= item.label :_destroy, "Delete" %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>

		<%= submit_tag("Update Invoice", :class => "btn btn-success") %>

	<% end %>

</section>

<br />
