<% @page_title = "Add New Invoice" %>

<%= link_to("<< Back", {:controller => 'users', :action => 'index'}, :class => 'back-link btn btn-light') %>

<br />

<section id="add-new-invoice">

	<h3>Add New Invoice</h3>

	<%= form_for(setup_invoice(@invoice), :url => {:controller => 'invoices', :action => 'create'}) do |t| %>

    <%= render "form", t: t %>

		<h3>Items</h3>

		<table class="table table-bordered table-condensed table-striped">
			<tr>
				<th>Description</th>
				<th>Quantity</th>
				<th>Unit Cost</th>
				<th>Discount %</th>
			</tr>
			<%= t.fields_for :items do |item| %>
				<tr>
					<td><%= item.text_field :description %></td>
					<td><%= item.text_field :quantity %></td>
					<td><%= item.text_field :unit_cost %></td>
					<td><%= item.text_field :discount %></td>
				</tr>
				<%= item.hidden_field :invoice_id %>
			<% end %>
		</table>

		<%= submit_tag("Create Invoice", :class => "btn btn-success") %>

	<% end %>

</section>

<br />
