<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<% client_this_belongs_to = Client.find_by(id: @invoice.client_id) %>

<section class="container">

	<section class="row">

		<section class="col-md-6">
		</section>

		<section class="col-md-6" id="pdf-invoice-number">
			<h2>Tax Invoice #<%= @invoice.invoice_number %></h2>
		</section>

	</section><!-- /row -->

	<section class="row">

		<section class="col-md-6" id="pdf-biller-details">
		</section>

		<section class="col-md-6" id="pdf-invoice-details">

			<table class="table table-condensed pdf-invoice-details-table">
				<tr>
					<th>Bill To:</th>
                                        <td><%= client_this_belongs_to.name %></td>
				</tr>
				<tr>
                                        <th></th>
                                        <td><%= client_this_belongs_to.address %></td>
                                </tr>
                                <tr>
                                        <th>Invoice Date:</th>
					<td><%= @invoice.date_sent %></td>
				</tr>
				<tr>
					<th>Due Date:</th>
					<td><%= @invoice.date_due %></td>
				</tr>
			</table>

		</section>

	</section><!-- /row -->

	<section class="row">

		<section class="col-md-12" id="pdf-invoice-items">

			<table class="table table-condensed">

				<tr>
					<th>Description</th>
					<th class="pdf-invoice-details-table">Qty</th>
                                        <th class="pdf-invoice-details-table">Unit Price</th>
                                        <th class="pdf-invoice-details-table">GST</th>
					<th class="pdf-invoice-details-table">Total</th>
				</tr>
				<% @items.each do |item| %>
                                        <% if item.quantity > 0 %>
                                                <tr>
                                                        <td><%= item.description %></td>
                                                        <td class="pdf-invoice-details-table"><%= item.quantity %></td>
                                                        <td class="pdf-invoice-details-table"><%= number_to_currency(item.unit_cost) %></td>
                                                        <td class="pdf-invoice-details-table"><%= number_to_currency(item.calculate_gst) %></td>
                                                        <td class="pdf-invoice-details-table"><%= number_to_currency(item.total_price + item.calculate_gst) %></td>
                                                </tr>
                                        <% end %>
				<% end %>

				<tr>
					<th>&nbsp;</th>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>

				<tr>
                                        <th>Subtotal</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="pdf-invoice-details-table"><b><%= number_to_currency(@invoice.calculate_subtotal) %></b></td>
                                </tr>

                                <tr>
                                        <th>Discount</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="pdf-invoice-details-table"><b><%= number_to_currency(@invoice.calculate_discount) %></b></td>
                                </tr>

                                <tr>
                                        <th>Total Amount Including GST:</th>
					<td></td>
					<td></td>
					<td></td>
					<td class="pdf-invoice-details-table"><b><%= number_to_currency(@invoice.amount) %></b></td>
				</tr>

			</table>

		</section>

	</section><!-- /row -->

	<section>

		<section class="col-md-12" id="pdf-payment-options">
		</section>

	</section><!-- /row -->

</section>
