<section class="container">
  <section class="row">
    <section class="col-6">
    </section><!-- /.col-md-6 -->

    <section class="col-6" id="pdf-invoice-number">
      <h2>Tax Invoice #<%= @invoice.invoice_number %></h2>
    </section><!-- /.col-md-6 -->
  </section><!-- /row -->

  <section class="row">
    <section class="col-12" id="pdf-biller-details">
      <h3><%= @payment_details.name_for_invoice %></h3>
      <h4><%= @payment_details.email_for_invoice %></h4>
      <h4>ABN: <%= @payment_details.abn_number_formatted %></h4>
    </section><!-- /.col-md-6 -->

    <section class="col-12" id="pdf-invoice-details">
      <table class="table table-condensed pdf-invoice-details-table">
        <tr>
          <th>Bill To:</th>
          <td></td>
          <td></td>
          <td></td>
          <td class="pdf-invoice-table-right-align"><%= @client_this_belongs_to.company %></td>
        </tr>

        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td class="pdf-invoice-table-right-align"><%= @client_this_belongs_to.email %></td>
        </tr>

        <% if @client_this_belongs_to.address.empty? == false %>
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="pdf-invoice-table-right-align"><%= @client_this_belongs_to.address %></td>
          </tr>
        <% end %>

        <tr>
          <th>Invoice Date:</th>
          <td></td>
          <td></td>
          <td></td>
          <td class="pdf-invoice-table-right-align"><%= @invoice.date_sent %></td>
        </tr>

        <tr>
          <th>Due Date:</th>
          <td></td>
          <td></td>
          <td></td>
          <td class="pdf-invoice-table-right-align"><%= @invoice.date_due %></td>
        </tr>
      </table><!-- /.pdf-invoice-details-table -->
    </section><!-- /.col-md-6 -->
  </section><!-- /row -->

  <section class="row">
    <section class="col-12" id="pdf-invoice-items">
      <table class="table table-condensed pdf-invoice-items-table">
        <tr>
          <th class="pdf-invoice-table-left-align">Description</th>
          <th>Qty</th>
          <th>Unit Price</th>

          <% if @invoice.should_charge_gst %>
            <th>GST</th>
          <% else %>
            <th> </th>
          <% end %>

          <th>Total</th>
        </tr>

        <% @items.each do |item| %>
          <% if item.quantity > 0 %>
            <tr>
              <td class="pdf-invoice-table-left-align"><%= item.description %></td>
              <td><%= item.quantity %></td>
              <td><%= number_to_currency(item.unit_cost) %></td>

              <% if @invoice.should_charge_gst %>
                <td><%= number_to_currency(item.calculate_gst) %></td>
              <% else %>
                <td>&nbsp;</td>
              <% end %>

              <% if @invoice.should_charge_gst %>
                <td><%= number_to_currency(item.total_price + item.calculate_gst) %></td>
              <% else %>
                <td><%= number_to_currency(item.total_price) %></td>
              <% end %>

            </tr>
          <% end %>
        <% end %>

        <tr>
          <th>&nbsp;</th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th class="pdf-invoice-table-left-align">Subtotal</th>
          <td></td>
          <td></td>
          <td></td>
          <td><b><%= number_to_currency(@invoice.calculate_subtotal) %></b></td>
        </tr>

        <% if @invoice.should_charge_gst %>
        <tr>
          <th class="pdf-invoice-table-left-align">GST</th>
          <td></td>
          <td></td>
          <td></td>
          <td><b><%= number_to_currency(@invoice.calculate_gst_amount) %></b></td>
        </tr>
        <% end %>

        <% if @invoice.calculate_discount_amount != 0.0 %>
          <tr>
            <th class="pdf-invoice-table-left-align">Discount</th>
            <td></td>
            <td></td>
            <td></td>
            <td><b><%= number_to_currency(@invoice.calculate_discount_amount) %></b></td>
          </tr>
        <% end %>

        <% if @invoice.should_charge_gst %>
        <tr>
          <th class="pdf-invoice-table-left-align">Total Amount Including GST:</th>
          <td></td>
          <td></td>
          <td></td>
          <td><b><%= number_to_currency(@invoice.calculate_subtotal(true)) %></b></td>
        </tr>
        <% else %>
          <tr>
            <th class="pdf-invoice-table-left-align">Total Amount:</th>
            <td></td>
            <td></td>
            <td></td>
            <td><b><%= number_to_currency(@invoice.calculate_subtotal(false)) %></b></td>
          </tr>
        <% end %>

      </table><!-- /.pdf-invoice-items-table -->
    </section><!-- /.col-md-12 -->
  </section><!-- /.row -->

  <section class="row">
    <section class="col-12" id="pdf-payment-options">
      <h3>Payment Options</h3>
      <h4>Bank Deposit</h4>
      <span class="payment-details">BSB: <%= @payment_details.bsb_number_formatted %>
        <br />Account #: <%= @payment_details.account_number_formatted %></span>
    </section><!-- /.col-md-12 -->
  </section><!-- /.row -->
</section><!-- /.container -->
