<table class="table table-bordered table-condensed table-striped">
  <tr>
    <th>Name</th>
    <td><%= t.text_field(:name_for_invoice) %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= t.text_field(:email_for_invoice) %></td>
  </tr>
  <tr>
    <th>BSB Number</th>
    <td><%= t.text_field(:bsb_number) %></td>
  </tr>
  <tr>
    <th>Account Number</th>
    <td><%= t.text_field(:account_number) %></td>
  </tr>
  <tr>
    <th>ABN Number</th>
    <td><%= t.text_field(:abn_number) %></td>
  </tr>
</table>