<section>
	<%= link_to("<< Back", {:controller => 'users', :action => 'index'}, :class => 'back-link btn btn-default') %>
	<%= link_to("Edit Client", {:controller => 'clients', :action => 'edit', :id => @client.id}, :class => 'btn btn-default') %>
</section>

<section id="client-detail">

	<h3>Details</h3>

	<table class="table table-bordered table-condensed table-striped">
		<tr>
			<th>Name</th>
			<td><%= @client.name %></td>
		</tr>
		<tr>
			<th>Company</th>
			<td><%= @client.company %></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><a href="mailto:<%= @client.email %>"><%= @client.email %></a></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><%= @client.phone %></td>
		</tr>
		<tr>
			<th>Address</th>
			<td><%= @client.address %></td>
		</tr>
	</table>

	<h3>Invoices</h3>

	<% if @client.invoices.empty? %>
		No invoices for this client.
	<% else %>
		<table class="table table-bordered table-condensed table-striped">
			<tr>
				<th>#</th>
				<th>Amount</th>
				<th>Status</th>
			</tr>
			<% @client.invoices.each do |invoice| %>
				<tr>
					<td><%= link_to(invoice.invoice_number, {:controller => "invoices", :action => "show", :id => invoice.id}) %></td>
					<td><%= number_to_currency(invoice.amount) %></td>

					<% if invoice.status == "draft" %>
						<td class="invoice-status-draft">
					<% elsif invoice.status == "sent" %>
						<td class="invoice-status-sent">
					<% elsif invoice.status == "paid" %>
						<td class="invoice-status-paid">
					<% end %>
						<b><%= invoice.status.capitalize %></b>
					</td>

				</tr>
			<% end %>
		</table>
	<% end %>
	
</section>
