<!DOCTYPE html>
<html>
<head>

  <title>Invoices</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

	<section class="container">

		<header id="header" class="row">
			<section class="col-md-9">
				<h1>Invoices</h1>
			</section>

			<section class="col-md-3" id="menu-buttons">
				<% if session[:user_id] %>
					<p class="welcome-current-user">Welcome, <%= current_user.email %></p>
					<%= link_to("Logout", {:controller => "sessions", :action => "logout"}, :class => "btn btn-info") %>
				<% end %>
			</section>
		</header><!-- /header -->

		<hr>

		<% if !flash[:notice].blank? %>
			<section class="alert alert-info">
			<%= flash[:notice] %>
			</section>
		<% end %>

		<%= yield %>

		<hr>

		<footer class="footer">
			<p class="copyright">&copy; Me Inc.</p>
		</footer>

	</section><!-- /container -->

</body>
</html>
