<!DOCTYPE html>
<html>
<head>

  <title>Invoices</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body>

	<section class="container">

		<header id="header" class="row">
			<section class="col-md-9">
				<h1>Invoices</h1>
			</section>

			<section class="col-md-3" id="menu-buttons">
				<% if session[:user_id] %>
					<p class="welcome-current-user">Welcome, <%= current_user.email %></p>

					<% if current_user.current_payment_details? %>
						<%= link_to("Edit Payment Details", {:controller => "payment_details", :action => "edit", :id => current_user.current_payment_details?.id}, :class => "btn btn-light") %>
					<% else %>
						<%= link_to("Add Payment Details", {:controller => "payment_details", :action => "new"}, :class => "btn btn-light") %>
					<% end %>

					<%= link_to("Logout", {:controller => "sessions", :action => "logout"}, :class => "btn btn-info") %>
				<% end %>
			</section>
		</header><!-- /header -->

		<hr>

		<% if !flash[:notice].blank? %>
			<section class="alert alert-info">
			<%= flash[:notice] %>
			</section>
		<% end %>

		<%= yield %>

		<footer class="footer">
			<p class="copyright text-muted">&copy; 2014-<%= Time.now.year %> <a href="http://joshlapham.com" target="_blank">Josh Lapham</a>. Heaps of rights reserved.</p>
		</footer>

	</section><!-- /container -->

</body>
</html>
